<a href="https://colab.research.google.com/github/mkayanda/NLP_textgeneration/blob/main/chat_bot_distilbert.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

___

<a href='http://www.pieriandata.com'> <img src='../Pierian_Data_Logo.png' /></a>
___
# Question and Answer Chat Bots

----

------

## Loading the Data

We will be working with the Babi Data Set from Facebook Research.

Full Details: https://research.fb.com/downloads/babi/

- Jason Weston, Antoine Bordes, Sumit Chopra, Tomas Mikolov, Alexander M. Rush,
  "Towards AI-Complete Question Answering: A Set of Prerequisite Toy Tasks",
  http://arxiv.org/abs/1502.05698

In [ ]:
import pickle
import numpy as np
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
with open("/content/drive/MyDrive/train_qa.txt", "rb") as fp:   # Unpickling
    train_data =  pickle.load(fp)

In [ ]:
with open("/content/drive/MyDrive/test_qa.txt", "rb") as fp:   # Unpickling
    test_data =  pickle.load(fp)

----

## Exploring the Format of the Data

In [ ]:
type(test_data)

list

In [ ]:
type(train_data)

list

In [ ]:
train_data_clean = pd.DataFrame(train_data)
test_data_clean = pd.DataFrame(test_data)

In [ ]:
train_data_clean.head(2)

                                                   0  ...   2
0  [Mary, moved, to, the, bathroom, ., Sandra, jo...  ...  no
1  [Mary, moved, to, the, bathroom, ., Sandra, jo...  ...  no

[2 rows x 3 columns]

In [ ]:
train_data_clean[2].unique()

array(['no', 'yes'], dtype=object)

In [ ]:
train_data_clean['0_clean'] = [' '.join(map(str, l)) for l in train_data_clean[0]]
train_data_clean['1_clean'] = [' '.join(map(str, l)) for l in train_data_clean[1]]
train_data_clean.head(2)

                                                   0  ...                      1_clean
0  [Mary, moved, to, the, bathroom, ., Sandra, jo...  ...   Is Sandra in the hallway ?
1  [Mary, moved, to, the, bathroom, ., Sandra, jo...  ...  Is Daniel in the bathroom ?

[2 rows x 5 columns]

In [ ]:
test_data_clean['0_clean'] = [' '.join(map(str, l)) for l in test_data_clean[0]]
test_data_clean['1_clean'] = [' '.join(map(str, l)) for l in test_data_clean[1]]
test_data_clean.head(2)

                                                   0  ...                   1_clean
0  [Mary, got, the, milk, there, ., John, moved, ...  ...  Is John in the kitchen ?
1  [Mary, got, the, milk, there, ., John, moved, ...  ...  Is John in the kitchen ?

[2 rows x 5 columns]

In [ ]:
train_data_clean = train_data_clean.drop(labels=[0,1],axis=1)

In [ ]:
type(train_data_clean['0_clean'][0])

str

In [ ]:
test_data_clean = test_data_clean.drop(labels=[0,1],axis=1)

In [ ]:
train_data_clean[['0_clean', '1_clean']].values

array([['Mary moved to the bathroom . Sandra journeyed to the bedroom .',
        'Is Sandra in the hallway ?'],
       ['Mary moved to the bathroom . Sandra journeyed to the bedroom . Mary went back to the bedroom . Daniel went back to the hallway .',
        'Is Daniel in the bathroom ?'],
       ['Mary moved to the bathroom . Sandra journeyed to the bedroom . Mary went back to the bedroom . Daniel went back to the hallway . Sandra went to the kitchen . Daniel went back to the bathroom .',
        'Is Daniel in the office ?'],
       ...,
       ['Daniel went to the office . Sandra journeyed to the hallway . Daniel went back to the bedroom . Mary got the apple there . Sandra moved to the bathroom . Mary journeyed to the bedroom .',
        'Is Sandra in the hallway ?'],
       ['Daniel went to the office . Sandra journeyed to the hallway . Daniel went back to the bedroom . Mary got the apple there . Sandra moved to the bathroom . Mary journeyed to the bedroom . Mary put down the apple there . Sandra got the milk there .',
        'Is Mary in the kitchen ?'],
       ['Daniel went to the office . Sandra journeyed to the hallway . Daniel went back to the bedroom . Mary got the apple there . Sandra moved to the bathroom . Mary journeyed to the bedroom . Mary put down the apple there . Sandra got the milk there . Sandra travelled to the bedroom . Sandra took the apple there .',
        'Is Mary in the bedroom ?']], dtype=object)

In [ ]:
test_data_clean

       2  ...                      1_clean
0     no  ...     Is John in the kitchen ?
1     no  ...     Is John in the kitchen ?
2    yes  ...      Is John in the garden ?
3    yes  ...  Is Daniel in the bathroom ?
4     no  ...   Is Daniel in the bedroom ?
..   ...  ...                          ...
995   no  ...     Is Mary in the bedroom ?
996   no  ...   Is Sandra in the kitchen ?
997   no  ...     Is Mary in the bedroom ?
998  yes  ...    Is Sandra in the garden ?
999  yes  ...      Is Mary in the garden ?

[1000 rows x 3 columns]

In [ ]:
train_data_clean

        2  ...                      1_clean
0      no  ...   Is Sandra in the hallway ?
1      no  ...  Is Daniel in the bathroom ?
2      no  ...    Is Daniel in the office ?
3     yes  ...   Is Daniel in the bedroom ?
4     yes  ...   Is Daniel in the bedroom ?
...   ...  ...                          ...
9995   no  ...   Is Sandra in the kitchen ?
9996  yes  ...   Is Daniel in the bedroom ?
9997   no  ...   Is Sandra in the hallway ?
9998   no  ...     Is Mary in the kitchen ?
9999  yes  ...     Is Mary in the bedroom ?

[10000 rows x 3 columns]

In [ ]:
# .value changes the rows to arrays Ktrain expected the dataset in tuples. 
x_train = train_data_clean[['0_clean', '1_clean']].values
y_train = train_data_clean[2].values
x_test = test_data_clean[['0_clean', '1_clean']].values
y_test = test_data_clean[2].values

In [ ]:
x_train

array([['Mary moved to the bathroom . Sandra journeyed to the bedroom .',
        'Is Sandra in the hallway ?'],
       ['Mary moved to the bathroom . Sandra journeyed to the bedroom . Mary went back to the bedroom . Daniel went back to the hallway .',
        'Is Daniel in the bathroom ?'],
       ['Mary moved to the bathroom . Sandra journeyed to the bedroom . Mary went back to the bedroom . Daniel went back to the hallway . Sandra went to the kitchen . Daniel went back to the bathroom .',
        'Is Daniel in the office ?'],
       ...,
       ['Daniel went to the office . Sandra journeyed to the hallway . Daniel went back to the bedroom . Mary got the apple there . Sandra moved to the bathroom . Mary journeyed to the bedroom .',
        'Is Sandra in the hallway ?'],
       ['Daniel went to the office . Sandra journeyed to the hallway . Daniel went back to the bedroom . Mary got the apple there . Sandra moved to the bathroom . Mary journeyed to the bedroom . Mary put down the apple there . Sandra got the milk there .',
        'Is Mary in the kitchen ?'],
       ['Daniel went to the office . Sandra journeyed to the hallway . Daniel went back to the bedroom . Mary got the apple there . Sandra moved to the bathroom . Mary journeyed to the bedroom . Mary put down the apple there . Sandra got the milk there . Sandra travelled to the bedroom . Sandra took the apple there .',
        'Is Mary in the bedroom ?']], dtype=object)

In [ ]:
# IMPORTANT: data format for sentence pair classification is list of tuples of form (str, str)
x_train = list(map(tuple, x_train))
x_test = list(map(tuple, x_test))

In [ ]:
print(x_train[0])
print(y_train[0])

('Mary moved to the bathroom . Sandra journeyed to the bedroom .', 'Is Sandra in the hallway ?')
no

In [ ]:
!pip install ktrain

Requirement already satisfied: ktrain in /usr/local/lib/python3.6/dist-packages (0.25.1)
Requirement already satisfied: packaging in /usr/local/lib/python3.6/dist-packages (from ktrain) (20.4)
Requirement already satisfied: pandas>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from ktrain) (1.1.4)
Requirement already satisfied: cchardet in /usr/local/lib/python3.6/dist-packages (from ktrain) (2.1.7)
Requirement already satisfied: ipython in /usr/local/lib/python3.6/dist-packages (from ktrain) (5.5.0)
Requirement already satisfied: scikit-learn>=0.21.3 in /usr/local/lib/python3.6/dist-packages (from ktrain) (0.22.2.post1)
Requirement already satisfied: whoosh in /usr/local/lib/python3.6/dist-packages (from ktrain) (2.7.4)
Requirement already satisfied: syntok in /usr/local/lib/python3.6/dist-packages (from ktrain) (1.3.1)
Requirement already satisfied: fastprogress>=0.1.21 in /usr/local/lib/python3.6/dist-packages (from ktrain) (1.0.0)
Requirement already satisfied: jieba in /usr/local/lib/python3.6/dist-packages (from ktrain) (0.42.1)
Requirement already satisfied: sentencepiece in /usr/local/lib/python3.6/dist-packages (from ktrain) (0.1.94)
Requirement already satisfied: langdetect in /usr/local/lib/python3.6/dist-packages (from ktrain) (1.0.8)
Requirement already satisfied: keras-bert>=0.86.0 in /usr/local/lib/python3.6/dist-packages (from ktrain) (0.86.0)
Requirement already satisfied: seqeval==0.0.19 in /usr/local/lib/python3.6/dist-packages (from ktrain) (0.0.19)
Requirement already satisfied: networkx>=2.3 in /usr/local/lib/python3.6/dist-packages (from ktrain) (2.5)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from ktrain) (2.23.0)
Requirement already satisfied: matplotlib>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from ktrain) (3.2.2)
Requirement already satisfied: joblib in /usr/local/lib/python3.6/dist-packages (from ktrain) (0.17.0)
Requirement already satisfied: transformers<4.0,>=3.1.0 in /usr/local/lib/python3.6/dist-packages (from ktrain) (3.5.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from packaging->ktrain) (1.15.0)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.6/dist-packages (from packaging->ktrain) (2.4.7)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=1.0.1->ktrain) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas>=1.0.1->ktrain) (1.18.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=1.0.1->ktrain) (2018.9)
Requirement already satisfied: pygments in /usr/local/lib/python3.6/dist-packages (from ipython->ktrain) (2.6.1)
Requirement already satisfied: pexpect; sys_platform != "win32" in /usr/local/lib/python3.6/dist-packages (from ipython->ktrain) (4.8.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.6/dist-packages (from ipython->ktrain) (4.4.2)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.6/dist-packages (from ipython->ktrain) (1.0.18)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.6/dist-packages (from ipython->ktrain) (4.3.3)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.6/dist-packages (from ipython->ktrain) (0.8.1)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.6/dist-packages (from ipython->ktrain) (50.3.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.6/dist-packages (from ipython->ktrain) (0.7.5)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.21.3->ktrain) (1.4.1)
Requirement already satisfied: regex in /usr/local/lib/python3.6/dist-packages (from syntok->ktrain) (2019.12.20)
Requirement already satisfied: keras-transformer>=0.38.0 in /usr/local/lib/python3.6/dist-packages (from keras-bert>=0.86.0->ktrain) (0.38.0)
Requirement already satisfied: Keras>=2.4.3 in /usr/local/lib/python3.6/dist-packages (from keras-bert>=0.86.0->ktrain) (2.4.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->ktrain) (2020.11.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->ktrain) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->ktrain) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->ktrain) (1.24.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.0.0->ktrain) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.0.0->ktrain) (0.10.0)
Requirement already satisfied: tokenizers==0.9.3 in /usr/local/lib/python3.6/dist-packages (from transformers<4.0,>=3.1.0->ktrain) (0.9.3)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.6/dist-packages (from transformers<4.0,>=3.1.0->ktrain) (4.41.1)
Requirement already satisfied: protobuf in /usr/local/lib/python3.6/dist-packages (from transformers<4.0,>=3.1.0->ktrain) (3.12.4)
Requirement already satisfied: sacremoses in /usr/local/lib/python3.6/dist-packages (from transformers<4.0,>=3.1.0->ktrain) (0.0.43)
Requirement already satisfied: filelock in /usr/local/lib/python3.6/dist-packages (from transformers<4.0,>=3.1.0->ktrain) (3.0.12)
Requirement already satisfied: dataclasses; python_version < "3.7" in /usr/local/lib/python3.6/dist-packages (from transformers<4.0,>=3.1.0->ktrain) (0.8)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.6/dist-packages (from pexpect; sys_platform != "win32"->ipython->ktrain) (0.6.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.6/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython->ktrain) (0.2.5)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.6/dist-packages (from traitlets>=4.2->ipython->ktrain) (0.2.0)
Requirement already satisfied: keras-layer-normalization>=0.14.0 in /usr/local/lib/python3.6/dist-packages (from keras-transformer>=0.38.0->keras-bert>=0.86.0->ktrain) (0.14.0)
Requirement already satisfied: keras-position-wise-feed-forward>=0.6.0 in /usr/local/lib/python3.6/dist-packages (from keras-transformer>=0.38.0->keras-bert>=0.86.0->ktrain) (0.6.0)
Requirement already satisfied: keras-embed-sim>=0.8.0 in /usr/local/lib/python3.6/dist-packages (from keras-transformer>=0.38.0->keras-bert>=0.86.0->ktrain) (0.8.0)
Requirement already satisfied: keras-pos-embd>=0.11.0 in /usr/local/lib/python3.6/dist-packages (from keras-transformer>=0.38.0->keras-bert>=0.86.0->ktrain) (0.11.0)
Requirement already satisfied: keras-multi-head>=0.27.0 in /usr/local/lib/python3.6/dist-packages (from keras-transformer>=0.38.0->keras-bert>=0.86.0->ktrain) (0.27.0)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.6/dist-packages (from Keras>=2.4.3->keras-bert>=0.86.0->ktrain) (3.13)
Requirement already satisfied: h5py in /usr/local/lib/python3.6/dist-packages (from Keras>=2.4.3->keras-bert>=0.86.0->ktrain) (2.10.0)
Requirement already satisfied: click in /usr/local/lib/python3.6/dist-packages (from sacremoses->transformers<4.0,>=3.1.0->ktrain) (7.1.2)
Requirement already satisfied: keras-self-attention==0.46.0 in /usr/local/lib/python3.6/dist-packages (from keras-multi-head>=0.27.0->keras-transformer>=0.38.0->keras-bert>=0.86.0->ktrain) (0.46.0)

In [ ]:
import ktrain
from ktrain import text
# https://nbviewer.jupyter.org/github/amaiya/ktrain/blob/master/tutorials/tutorial-A3-hugging_face_transformers.ipynb
# https://huggingface.co/models
MODEL_NAME = 'distilbert-base-uncased'
t = text.Transformer(MODEL_NAME, maxlen=128, class_names=['no', 'yes'])
trn = t.preprocess_train(x_train, y_train)
val = t.preprocess_test(x_test, y_test)
model = t.get_classifier()
learner = ktrain.get_learner(model, train_data=trn, val_data=val, batch_size=32) # lower bs if OOM occurs
learner.fit_onecycle(5e-5, 6)

preprocessing train...
language: en
sentence pairs detected

/usr/local/lib/python3.6/dist-packages/ktrain/utils.py:589: UserWarning: class_names argument was ignored, as they were extracted from string labels in dataset
  if self.get_classes(): warnings.warn('class_names argument was ignored, as they were extracted from string labels in dataset')

Is Multi-Label? False
preprocessing test...
language: en
sentence pairs detected

begin training using onecycle policy with max lr of 5e-05...
Epoch 1/6
313/313 [==============================] - 136s 435ms/step - loss: 0.5053 - accuracy: 0.7258 - val_loss: 0.3461 - val_accuracy: 0.8460
Epoch 2/6
313/313 [==============================] - 136s 435ms/step - loss: 0.1597 - accuracy: 0.9391 - val_loss: 0.0190 - val_accuracy: 0.9950
Epoch 3/6
313/313 [==============================] - 136s 435ms/step - loss: 0.0456 - accuracy: 0.9847 - val_loss: 0.0032 - val_accuracy: 0.9980
Epoch 4/6
313/313 [==============================] - 136s 435ms/step - loss: 0.0117 - accuracy: 0.9976 - val_loss: 0.0042 - val_accuracy: 0.9990
Epoch 5/6
313/313 [==============================] - 136s 435ms/step - loss: 0.0093 - accuracy: 0.9981 - val_loss: 3.5385e-04 - val_accuracy: 1.0000
Epoch 6/6
313/313 [==============================] - 136s 435ms/step - loss: 0.0017 - accuracy: 0.9996 - val_loss: 2.5320e-04 - val_accuracy: 1.0000